.title-actions{
  display: flex;
  justify-content: space-between;
}

.content-container {
  position: relative;
  margin-top: 6px;
  padding: 20px;
  background-color: white;
}

.table-container {
  @extend .content-container;
  max-height: 400px;
  overflow: scroll;
}