
.space-top-10 {
    margin-top: 10px;
  }
  .space-right-10 {
    margin-right: 10px;
  }
  .space-bottom-10 {
    margin-bottom: 10px;
  }
  .space-left-10 {
    margin-left: 10px;
  }
  
  .space-top-20 {
    margin-top: 20px;
  }
  .space-right-20 {
    margin-right: 20px;
  }
  .space-bottom-20 {
    margin-bottom: 20px;
  }
  .space-left-20 {
    margin-left: 20px;
  }
  