.size-h1 {
  font-size: 2rem !important; // 32px
}
.size-h2 {
  font-size: 1.5rem !important; // 24px
}
.size-h3 {
  font-size: 1.17rem !important; // 18.72px
}
.size-h5 {
  font-size: 0.83rem !important; // 13.28px
}
.size-h6 {
  font-size: 0.67rem !important; // 10.72pxa
}
.size-span {
  font-size: 1rem !important; // 16px
}
