table {
  border-collapse: collapse;
  min-width: 845px;
  thead {
    background-color: #f9fafc;
    font-size: 16px;
    tr th {
      padding: 10px;
    }
  }
  tbody {
    font-size: 14px;
    tr {
      border-bottom: 1px solid #d3d3d36b;
      td {
        text-align: center;
        padding: 10px;
      }
    }
  }
}
